





.ui.inverted.menu {
  background-color: #B71C1C;
  padding: 13px 0;
  margin: 0;
  margin-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #EF5350; }

body {
  background-color: #F5F5F5;
  bottom: 0; }

h1 {
  color: #616161 !important; }
