.product-create
  .ui.grid.centered.container
    .seven.wide.column
      .ui.red.segment(style='margin-top:100px;')
        h1 Sejam Bem-vindo a Hamburgeria !!
        img(src='/imgs/home-burger.jpg', style='margin-left: 25px; width: 400px;')
        button.ui.button.red.fluid(ng:click='vm.welcome()') Clique aqui
