doctype html
html(ng-app='starter')
  head
    title X-Tudo
    base(href='/')
    // inject:css
    // endinject
  body
    div(ng:controller='MenuController as vm')
      .ui.inverted.menu(ng:if='vm.isMenu')
        .ui.container
          a.item(ui-sref='product-list' href='#') X-TUDO
          .right.menu
            a.item(ui-sref='product-create', ng:if='vm.isLogged') Novo Produto
            a.item(ui-sref='login') Login
            a.item(ui-sref='user-create') Cadastrar-se
            //- a.item(ng:click='vm.logout()') Logout
    ui-view

    //- script
    //-   var socket = io('http:localhost:3030');
    //-   var app = feathers().configure(feathers.hooks()).configure(feathers.socketio(socket));
    //-   window.app = app;

    // inject:pre:js
    // endinject
    // inject:js
    // endinject
