doctype html
html(ng-app='starter')
  head
    title | X-Tudo
    base(href='/')
    // inject:css
    // endinject
  body
    h1 X-Tudo Show Caramba
    p {{2 + 3}}
    a(ui-sref="hello" ui-sref-active="active") Hello
    a(ui-sref="about" ui-sref-active="active") About

    ui-view

    script
      var socket = io('http:localhost:3030');
      var app = feathers().configure(feathers.hooks()).configure(feathers.socketio(socket));
      window.app = app;

    // inject:pre:js
    // endinject
    // inject:js
    // endinject
